@import url('reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../loader.css');
@import url('../alternar/alternar-tema--home.css');

::selection {
  color: var(--white);
  background: var(--color-link);
}

:root {
  --black: #141414;
  --white: #ffffffff;
  --gray: rgba(128, 128, 128, 0.625);
  --main: #ffffff;
  --container-titulo: #24262b;
  --background--conteudo: #141414;

  --color-link: #F94C10;
  --color-link--segundo: #F8DE22;

  --instagram: #FF69B4;
  --instagram-hover: #FF1493;
  --linkedin: #4b70ab;
  --linkedin-hover: #3f5f91;
  --whatsapp: #25D366;
  --whatsapp-hover: #1b9748;
  --github: #313131;
  --github-hover: #1e1f1e;
  --box-shadow-navbar: #ffffff42;
  --azul-loader: #2D68C4;
  --amarelo-loader: #FFD700;
  --verde-loader: #5E8C31;
  --background-color-home: #fffffff2;
  --background--botao-hamburguer: #00000066;
}

body.escuro {
  --black: #ffffff;
  --white: #1d1d1d;
  --gray: #8080809f;
  --main: #252525;
  --container-titulo: #f3f4f8;
  --background--conteudo: #e7ebfa;
  --box-shadow-navbar: #00000042;
  --azul-loader: #023079;
  --amarelo-loader: #685903;
  --verde-loader: #304d14;
  --background-color-home: #000000ec;
  --background--botao-hamburguer: #ffffff66;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* Colocar preenchimento no interior dos elementos */
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  /* Nosso tamanho de fonte básico */
  line-height: 1.75;
  /* A altura da linha assume um valor quase rem, mas é dinâmica para o tamanho da fonte */
  font-weight: 300;
  /* Use o peso incluído */
  color: var(--black);
  /* Não use preto é muito duro */

  display: flex;
  /* Definir o corpo para ser um contêiner flexível */
  align-items: center;
  /* Centralizar verticalmente o conteúdo na janela de visualização */
  justify-content: center;
  /* Centralizar horizontalmente o conteúdo na viewport */

  min-height: 100vh;
  /* Força a centralização vertical, pois o conteúdo nem sempre será mais alto que a janela de visualização */
  padding: 2rem;
  /* Usando valores rem, pois eles não cascateiam como unidades em e não são unidades fixas como pixels */

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  background-position: center center;
  background-size: cover;
}

@supports(background-blend-mode: multiply) {
  /* Use um modo de mesclagem em segundo plano no navegador que o suporta */

  body {
    background-image: linear-gradient(#4A4A4A, #212121), url('../../img/background/background.png');
    /* Várias imagens de fundo, sobreposição de gradiente e a imagem */
    background-blend-mode: multiply;
    /* Misturando o gradiente com a imagem de fundo (não pode usar preto para misturar) */
  }

}

.container-titulo-cartao{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-telacheia__navegacao .ativo {
  color: var(--color-link);
}

h2 {
  font-family: 'Roboto Slab', serif;
  /* Use a fonte do google incluída como fonte de título */
  font-weight: 700;
  /* Incluímos apenas 700 */
  font-size: 2.25rem;
  /* 36px com base no tamanho da fonte base de 16px */
  line-height: 1.3333;
  /* Com base em tamanho de fonte de 36px e altura de linha de 48px */
}

.cartao {
  display: flex;
  /* Define o elemento de cartão inteiro para ser um contêiner flexível */
  flex-direction: column;
  /* Forces elements to align along the vertical axis */

  max-width: 62rem;
  /* Unidade de espaçamento base multiplicada por 35 */
  min-height: 75vh;
  /* Sempre pelo menos 75% da janela de visualização */

  background-color: var(--white);
  /* Definir a cor de fundo do nosso cartão de conteúdo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* Adicione uma sombra sutil */
}

.cartao__imagem-container {
  max-height: 15rem;
  /* Pare a imagem ficar muito grande */

  background-image: url('../../img/background/background-home.png');
  background-size: cover;
  /* Forçar a imagem de fundo a cobrir o contêiner */
  background-position: center center;
  /* Posicione a imagem no meio */
}

.cartao__imagem{
  opacity: 0;
  pointer-events: none;
}

.cartao__conteudo {
  display: flex;
  /* Tornar o elemento um contêiner flexível */
  flex-direction: column;
  /* Alinhar elementos ao longo do eixo vertical */

  padding: 2rem;
}

.cartao__cabeçalho,
.cartao__rodape {
  flex: 0 0 auto;
  /* Não cresça, não diminua, tamanho automático (base) */
}

.cartao__rodape {
  margin-top: 2rem;
  /* Crie um pouco de espaço entre o conteúdo e o rodapé */
  text-align: right;
  /* Alinhar o conteúdo do rodapé à direita */
}

.cartao__corpo {
  flex: 1 1 auto;
  /* O mesmo que flex:1; */
}

/* As propriedades flexíveis do cabeçalho, rodapé e corpo do cartão permitem que o rodapé esteja sempre na parte inferior do contêiner */

.cartao__titulo {
  margin-top: 0;
  /* Remova a margem, pois não há elementos acima dela */
}

.cartao__titulo span{
  color: var(--color-link);
}

@media only screen and (min-width: 53rem) {
  /* Unidade de espaçamento base * 30 */

  .cartao {
    flex-direction: row;
    /* Alinhar itens ao longo do eixo horizontal */
    min-height: 60vh;
  }

  .cartao__imagem-container {
    flex: 0 1 45%;
    /* Não crescer, encolher, 45% de largura (base) */
    max-height: inherit;
    /* Redefinir o conjunto de altura máxima para dispositivos móveis */
  }

  .cartao__conteudo {
    flex: 1 1 55%;
    /* Crescer, Encolher, 55% de largura */
    padding: 3rem;
    /* Aumente o preenchimento agora temos mais espaço para brincar */
  }

}

.copyright {
  font-size: 1rem;
  margin-top: 0.25rem;
}


/*

	Iniciar novo código para o menu

*/

/* botão de menu */

.menu-botao {
  display: flex;
  /* Exibir flex para centralizar o ícone do menu no botão */
  justify-content: center;
  /* Alinhar horizontalmente */
  align-items: center;
  /* Alinhar verticalmente */

  width: 4rem;
  /* Largura do botão */
  height: 4rem;
  /* Altura do botão */
  border-radius: 50%;
  /* Faça do botão um círculo */
  background-color: var(--background--botao-hamburguer);
  /* Deixe o fundo white e semitransparente */
  cursor: pointer;

  transition: background-color 500ms ease-in-out;
  /* Adicionar transição para a cor de fundo */
}

.cartao__imagem-container .menu-botao {
  margin: 1.5rem;
}

.menu-botao:hover,
.menu-botao:focus,
.menu-botao:active {
  background-color: var(--color-link);
  /* Ao passar o mouse, faça a transição da cor de fundo e da transparência*/
}

.menu-icone {
  position: relative;
  /* Dê a posição relativa do ícone do menu para que possamos posicionar absolutamente os filhos */
  width: 2rem;
  /* Largura do ícone */
  height: 1.5rem;
  /* Altura do ícone */
}

.menu-icone span {
  position: absolute;
  /* Posicione absolutamente todos os filhos do ícone do menus */
  height: 0.125rem;
  /* Altura de cada linha em nosso botão de menu */
  width: 100%;
  /* Com de cada linha */
  background-color: #332F21;
  /* Cor de fundo de cada linha */
  transition: background-color 500ms ease-in-out;
  /* Transição adicionada para a cor de fundo */
}

.menu-icone span:nth-child(1) {
  top: 0.0625rem;
  /* Posicione a primeira linha a aproximadamente 1px do topo */
}

.menu-icone span:nth-child(2) {
  top: 0.625rem;
  /* Posicione a segunda linha a aproximadamente 10px do topo, uma em cima da outra */
}

.menu-icone span:nth-child(3) {
  top: 1.25rem;
  /* Posicione a quarta linha a aproximadamente 20px do topo */
}

.menu-botao:hover span,
.menu-botao:focus span,
.menu-botao:active span {
  background: var(--white);
  /* Ao passar o mouse, torne a cor de fundo do ícone do menu branca */
}

/* Transforme o ícone do Menu em um ícone de fechamento  */

.menu-icone.icone-ativo span:nth-child(1) {
  opacity: 0;
  /* Ocultar a primeira linha */
}

.menu-icone.icone-ativo span:nth-child(2) {
  transform: rotate(45deg);
  /* Gire a segunda linha 45 graus */
}

.menu-icone.icone-ativo span:nth-child(3) {
  top: 0.625rem;
  /* Posicione a terceira linha sobre a segunda linha */
  transform: rotate(-45deg);
  /* Gire a terceira linha -45 graus */
}

/* Menu de tela cheia */

.container-menu--telacheia {
  position: fixed;
  /* Corrigir o menu para a janela de visualização */
  top: 12.5rem;
  /* Adicione o valor superior para permitir que o elemento seja animado sobre */
  left: 0;
  /* Posição à esquerda da viewport */
  z-index: 5;
  /* Adicione z-index para garantir que o elemento esteja sempre acima de tudo */
  width: 100vw;
  /* Cubra toda a largura da janela de visualização */
  height: 100vh;
  /* Cubra toda a altura da janela de visualização */
  overflow: scroll;
  /* Permitir a rolagem quando o conteúdo for maior que a janela de visualização */

  background-color: var(--background-color-home);
  /* Fundo white semitransparente para a sobreposição de menu */

  opacity: 0;
  /* Aplique 0 transparência para ocultar a sobreposição ao carregar */
  pointer-events: none;
  /* Impedir que os elementos no contêiner de menu sejam clicados */

  transition: top 500ms ease-in, opacity 300ms ease-in;
  /* Transição do topo e da opacidade */
}

.container-menu--telacheia.aberto {
  opacity: 1;
  /* Opacidade de transição de 0 a 1 */
  top: 0;
  /* Transição para o topo da viewport */
  pointer-events: auto;
  /* Re-adicionar eventos de ponteiro aos elementos podem ser clicados novamente */
}

.container-menu--telacheia .menu-botao {
  position: absolute;
  /* Posicione o botão absolutamente no contêiner da imagem */
  top: 1.5rem;
  /* Botão de posição a partir do topo */
  right: 1.5rem;
  /* Botão de posição da esquerda */
}

.menu-telacheia {
  text-align: center;
  /* Aplicar centro de alinhamento de texto a todos os filhos */
  max-width: 62rem;
  /* Largura máxima do conteúdo */
  padding: 6rem 2rem 4rem;
  /* Adicione preenchimento ao conteúdo, grande na parte superior para permitir o botão Fechar */
  width: 100%;
  /* Onde puder, estique até a largura máxima, caso contrário, a janela de visualização completa */
}

.menu-telacheia__imagem-container {
  width: 5rem;
  /* Fazer quadrado */
  height: 5rem;
  /* Fazer quadrado */
  border-radius: 50%;
  /* Transforme o quadrado em um círculo */
  background-image: url('../../img/background/Principais-Filosofos.jpg');
  /* Aplique a imagem como plano de fundo */
  background-size: cover;
  /* Forçar a imagem de fundo a cobrir o contêiner */
  background-position: center center;
  /* Posicione a imagem no meio */
  margin: 0 auto 1.5rem;
}

.menu-telacheia__titulo {
  max-width: 30rem;
  /* Aplique uma largura máxima diferente ao título para obter um comprimento de leitura mais ideal */
  margin: 0 auto;
  /* Posicione no centro horizontal e remova as margens superior e inferior */
}

.menu-telacheia__titulo span{
 color: var(--color-link);
}

.menu-telacheia__navegacao {
  margin: 3rem 0;
  /* Aplicar margem superior e inferior da navegação */
}

.menu-telacheia__navegacao ul {
  list-style: none;
  /* Remova os pontos dos itens da lista */
  margin: 0;
  /* Remover margem padrão */
  padding: 0;
  /* Remover preenchimento padrão */
}

.menu-telacheia__navegacao a {
  display: block;
  /* Espalhe toda a largura */
  font-size: 1.4rem;
  color: var(--black);
  /* Aplique a cor cinza claro */
  text-decoration: none;
  /* Remover sublinhado padrão */
  transition: color 300ms ease-in;
  /* Adicionar transição para a cor ao passar o mouse */
}

.menu-telacheia__navegacao a:hover,
.menu-telacheia__navegacao a:focus,
.menu-telacheia__navegacao a:active {
  color: var(--color-link);
  /* Escurecer a cor do texto ao passar o mouse */
}

.menu-telacheia .social-button {
  margin: 0 0.5rem;
  /* Adicione uma margem maior entre os botões sociais na sobreposição do menu */
  height: 3.75rem;
  /* Aumente o tamanho dos botões sociais */
  width: 3.75rem;
  /* Aumente o tamanho dos botões sociais */
  font-size: 1.5rem;
  /* Aumente o tamanho do ícone social dentro do botão */
}

@media only screen and (min-width: 46rem) {
  /* Quando a janela de visualização é grande o suficiente */

  .container-menu--telacheia {
    display: flex;
    /* Adicionar flex de exibição ao contêiner */
    justify-content: center;
    /* Alinhar o conteúdo do menu ao centro horizontalmente */
    align-items: center;
    /* Alinhar o conteúdo do menu ao centro verticalmente */
  }

  .menu-telacheia {
    padding: 0;
  }

  .menu-telacheia__navegacao {
    margin: 4rem 0;
    /* Aumente a margem entre a navegação e outros elementos no menu */
  }

  .menu-telacheia__navegacao ul {
    display: flex;
    /* Transforme a lista não ordenada em um contêiner flexível */
    justify-content: space-between;
    /* Compartilhe o espaço disponível entre os itens da lista */
  }

}


/*parte mobile */

@media screen and (max-width: 390px) {
  h2 {
    font-size: 1.375rem; 
  }

  p {
    font-size: 1.125rem;
  }

}

/* Parte tablet */

@media screen and (min-width: 700px) {
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.25rem;
  }

  .copyright {
    font-size: 1.25rem;
  }
}



/* parte desktop */

@media screen and (min-width: 1400px) {

  h2 {
    font-size: 1.625rem; 
  }
  
  p {
    font-size: 1.375rem; 
  }
  
  a {
    font-size: 1.5rem; 
  }

  .copyright {
    font-size: 1.45rem;
  }
  
}


.social-button {
  display: inline-flex;
  /* Exibir elementos inline, mas transformá-los em um contêiner flexível */
  align-items: center;
  /* Alinhar centralmente as crianças verticalmente */
  justify-content: center;
  /* Alinhar centralmente as crianças horizontalmente */

  height: 3rem;
  /* Criar quadrado */
  width: 3rem;
  /* Criar quadrado */

  font-size: 1.4rem;
  /* Aumente o tamanho da fonte padrão */
  color: var(--white);
  border-radius: 50%;
  /* Criar círculo */

  text-decoration: none;
  /* Remover sublinhado padrão */

  transition: background-color 150ms ease-in-out;
  /* Cor de fundo de transição ao passar o mouse */

  margin-right: 0.1rem;
}

#instagram {
  background-color: var(--instagram);
  transition: .5s;
}

#instagram:hover, 
#instagram:focus {
  background-color: var(--instagram-hover);
  border: 2px solid #050505;
  fill: var(--white);
  border-radius: 10%; 
  transition: .5s;
}

#linkedin {
  background-color: var(--linkedin);
  transition: .5s;
}

#linkedin:hover,
#linkedin:focus {
  background-color: var(--linkedin-hover);
  border: 2px solid #050505;
  fill: var(--white);
  border-radius: 10%; 
  transition: .5s;
}

#whatsapp {
  background-color: var(--whatsapp);
  transition: .5s;
}

#whatsapp:hover, 
#whatsapp:focus {
  background-color: var(--whatsapp-hover);
  border: 2px solid #050505;
  fill: var(--white);
  border-radius: 10%; 
  transition: .5s;
}

#github {
  background-color: var(--github);
  transition: .5s;
}

#github:hover, 
#github:focus {
  background-color: var(--github-hover);
  border: 2px solid #050505;
  fill: var(--white);
  border-radius: 10%; 
  transition: .5s;
}

/* Estilos para o contêiner de contato */
.container-contato {
  display: flex;
  /* Define o contêiner como um contêiner flexível */
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente dentro do contêiner */
  align-items: center;
  /* Centraliza o conteúdo verticalmente dentro do contêiner */
  flex-wrap: wrap;
  /* Permite que os elementos dentro do contêiner sejam organizados em várias linhas quando o espaço é insuficiente */
  height: 100%;
  /* Define a altura do contêiner como 100% */
  margin-top: 2rem;
  /* Adiciona um espaçamento de 2rem (aproximadamente 32 pixels) acima do contêiner */
  margin-bottom: 3rem;
  /* Adiciona um espaçamento de 3rem (aproximadamente 48 pixels) abaixo do contêiner */
}


/* Estilos para os botões de contato no estado #whatsapp" */
.social-button#whatsapp {
  box-shadow: 0 20px 20px -17px #128C7E;
  /* Adiciona uma sombra aos botões com uma cor verde-azulada quando no estado #whatsapp" */
}

/* Estilos aplicados aos botões de contato no estado #whatsapp" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.social-button#whatsapp:hover,
.social-button#whatsapp:focus {
  transform: scale(1.2);
  /* Aumenta o tamanho dos botões em 20% quando o cursor do mouse passa por cima ou estão em foco */
  box-shadow: 0 30px 45px -15px #075E54;
  /* Adiciona uma sombra maior e mais escura quando o cursor do mouse passa por cima ou estão em foco */
}

/* Estilos para os botões de contato no estado #instagram" */
.social-button#instagram {
  box-shadow: 0 20px 20px -17px #d6249f;
  /* Adiciona uma sombra aos botões com uma cor rosa quando no estado #instagram" */
}

/* Estilos aplicados aos botões de contato no estado #instagram" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.social-button#instagram:hover,
.social-button#instagram:focus {
  transform: scale(1.2);
  /* Aumenta o tamanho dos botões em 20% quando o cursor do mouse passa por cima ou estão em foco */
  box-shadow: 0 30px 45px -15px #a02d76;
  /* Adiciona uma sombra maior e mais escura quando o cursor do mouse passa por cima ou estão em foco */
}

/* Estilos para os botões de contato no estado #linkedin" */
.social-button#linkedin {
  box-shadow: 0 20px 20px -17px #3e4bfd80;
  /* Adiciona uma sombra aos botões com uma cor vermelha quando no estado #linkedin" */
}

/* Estilos aplicados aos botões de contato no estado #linkedin" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.social-button#linkedin:hover,
.social-button#linkedin:focus {
  transform: scale(1.2);
  /* Aumenta o tamanho dos botões em 20% quando o cursor do mouse passa por cima ou estão em foco */
  box-shadow: 0 30px 45px -15px #1b216d80;
  /* Adiciona uma sombra maior e mais escura quando o cursor do mouse passa por cima ou estão em foco */
}

/* Estilos para os botões de contato no estado #linkedin" */
.social-button#github {
  box-shadow: 0 20px 20px -17px #33333380;
  /* Adiciona uma sombra aos botões com uma cor vermelha quando no estado #linkedin" */
}

/* Estilos aplicados aos botões de contato no estado #linkedin" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.social-button#github:hover,
.social-button#github:focus {
  transform: scale(1.2);
  /* Aumenta o tamanho dos botões em 20% quando o cursor do mouse passa por cima ou estão em foco */
  box-shadow: 0 30px 45px -15px #14141491;
  /* Adiciona uma sombra maior e mais escura quando o cursor do mouse passa por cima ou estão em foco */
}

/* Estilos para o texto que aparece quando o ícone está no estado de foco */
.box-botao:hover .text-botao,
.box-botao:focus .text-botao {
  bottom: 4rem;
  /* Move o texto para baixo, a 6rem (aproximadamente 96 pixels) da posição inicial */
  visibility: visible;
  /* Torna o texto visível quando o ícone está no estado de foco */
  opacity: 1;
  /* Define a opacidade do texto como 1, tornando-o completamente visível */
}

/* Setas de texto pop-up */
.box-botao .text-botao:before {
  content: '';
  /* Define o conteúdo do pseudo-elemento como vazio */
  width: 0;
  /* Define a largura do pseudo-elemento como 0 */
  height: 0;
  /* Define a altura do pseudo-elemento como 0 */
  border-left: 5px solid transparent;
  /* Define uma borda esquerda transparente no pseudo-elemento */
  border-right: 5px solid transparent;
  /* Define uma borda direita transparente no pseudo-elemento */
  border-top: 5px solid var(--color-link);
  /* Define uma borda superior com uma cor rosa no pseudo-elemento */
  position: absolute;
  /* Define a posição do pseudo-elemento como absoluta */
  bottom: -5px;
  /* Posiciona o pseudo-elemento 5 pixels abaixo da parte inferior do contêiner pai */
  left: 40px;
  /* Posiciona o pseudo-elemento a 40 pixels à esquerda do contêiner pai */
}

/* Estilos para o texto pop-up */
.box-botao .text-botao {
  color: var(--black);
  position: absolute;
  /* Define a posição do texto como absoluta */
  font-family: sans-serif;
  /* Define a fonte do texto como uma fonte sans-serif */
  bottom: 28px;
  /* Posiciona o texto 28 pixels acima da parte inferior do contêiner pai */
  left: 50%;
  /* Centraliza o texto horizontalmente dentro do contêiner pai */
  transform: translateX(-50%);
  /* Move o texto horizontalmente para a esquerda em 50% da largura do próprio texto */
  padding: 5px 7px;
  /* Adiciona um espaçamento interno de 5 pixels acima/abaixo e 7 pixels à direita/esquerda para o texto */
  z-index: -10;
  /* Define a ordem de empilhamento do texto como -10 (coloca-o atrás dos outros elementos) */
  font-size: 14px;
  /* Define o tamanho da fonte do texto como 14 pixels */
  border-radius: 2px;
  /* Define o raio das bordas do texto como 2 pixels, criando um formato arredondado */
  background: var(--color-link);
  /* Define o fundo do texto como uma cor rosa */
  visibility: hidden;
  /* Torna o texto inicialmente invisível */
  opacity: 0;
  /* Define a opacidade do texto como 0 (completamente transparente) */
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* Adiciona uma transição suave de 0,5 segundos com uma curva de aceleração personalizada para as propriedades que sofrerem alteração */
}



