#contato{
  text-align: center;
  padding: 100px 30px 100px 20px;
}

/* Estilos para o contêiner de contato */
.container-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Estilos para os botões de contato */
.botao-contato {
  width: 100px;
  height: 100px;
  background-color: var(--botoes-contato);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  margin-bottom: 1.70rem;
}

.botao-contato:hover,
.botao-contato:focus{
  fill: var(--color-link);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Estilos para os botões de contato no estado "wh-botao" */
.botao-contato.wh-botao {
  box-shadow: 0 20px 20px -17px #128C7E;
}

/* Estilos aplicados aos botões de contato no estado "wh-botao" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.botao-contato.wh-botao:hover,
.botao-contato.wh-botao:focus {
  transform: scale(1.2); 
  box-shadow: 0 30px 45px -15px #075E54;
}

/* Estilos para os botões de contato no estado "in-botao" */
.botao-contato.in-botao {
  box-shadow: 0 20px 20px -17px #d6249f;
}

/* Estilos aplicados aos botões de contato no estado "in-botao" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.botao-contato.in-botao:hover,
.botao-contato.in-botao:focus {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px #a02d76;
}

/* Estilos para os botões de contato no estado "gm-botao" */
.botao-contato.gm-botao {
  box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
}

/* Estilos aplicados aos botões de contato no estado "gm-botao" quando o cursor do mouse passa por cima (hover) ou estão em foco (focus) */
.botao-contato.gm-botao:hover,
.botao-contato.gm-botao:focus {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57);
}


.botao-contato.fi-botao {
  box-shadow: 0 20px 20px -17px rgba(249, 76, 16, 0.502);
}

.botao-contato.fi-botao:hover,
.botao-contato.fi-botao:focus {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(249, 76, 16, 0.569);
}

.botao-contato.gq-botao {
  box-shadow: 0 20px 20px -17px #0087517e;
}

.botao-contato.gq-botao:hover,
.botao-contato.gq-botao:focus {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px #008751;
}


/* Estilos para o texto que aparece quando o ícone está no estado de foco */
.box-botao:hover .text-botao,
.box-botao:focus .text-botao {
  bottom: 6rem;
  visibility: visible;
  opacity: 1;
}

/* Setas de texto pop-up */
.box-botao .text-botao:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-link);
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* Estilos para o texto pop-up */
.box-botao .text-botao {
  color: #f6f6f6;
  position: absolute;
  font-family: sans-serif;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 7px;
  z-index: -10;
  font-size: 14px;
  border-radius: 2px;
  background: var(--color-link);
  visibility: hidden;
  opacity: 0;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

