/* Estilizando o footer */
.rodape {
  background: var(--color-link); /* Define o plano de fundo do footer como um tom de rosa (var(--color-link)) */
  width: 100%; /* Define a largura do footer como 100% do elemento pai */
  height: 70px; /* Define a altura do footer como 70 pixels */
  display: flex; /* Define o footer como um contêiner flexível */
  justify-content: center; /* Centraliza o conteúdo horizontalmente dentro do footer */
  align-items: center; /* Centraliza o conteúdo verticalmente dentro do footer */
  flex-direction: column; /* Define a direção do fluxo de itens dentro do footer como coluna */
  
}

/* Estilizando os parágrafos dentro do footer */
.rodape p {
  color: var(--white); /* Define a cor do texto dos parágrafos dentro do footer como branco */
  font-weight: 300; /* Define o peso da fonte dos parágrafos como 300 (mais leve) */
  margin: 2px;
}